.container{
    background-color: antiquewhite;

}
h2{
    text-align: center;
}
body{
    padding: auto;
}

i {
   
    /* position: absolute;
    top: 464px;
    left: 543px;
    cursor: pointer; */
}